<footer class="bg-custom text-light pt-5 pb-2">
  <div class="container">
    <div class="row">
      <!-- Tên công ty (cột đầu) -->
      <div class="col-md-4 border-end border-secondary pe-5">
        <h5 class="text-uppercase mb-3">E-BookStore</h5>
        <p class="mb-1">Địa chỉ: 60-62 Lê Lợi, Quận 1, TP. Hồ Chí Minh</p>
        <p class="mb-1">Điện thoại: 1900 636 467</p>
        <p class="mb-1">Fax: 028 1234 5678</p>
        <p class="mb-1">Email:  cskh@ebookstore.com.vn</p>
        <p class="mb-0">Website: www.eBookStore.vn</p>
      </div>

      <!-- Hỗ Trợ -->
      <div class="col-md-3 ps-5">
        <h5 class="text-uppercase mb-3">Hỗ Trợ</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Chính sách vận chuyển</li>
          <li class="mb-2">Chính sách đổi trả</li>
          <li class="mb-2">Chính sách bảo hành</li>
          <li>Chính sách thanh toán</li>
        </ul>
      </div>

      <!-- Dịch vụ khách hàng -->
      <div class="col-md-3">
        <h5 class="text-uppercase mb-3">Dịch vụ khách hàng</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Hướng dẫn mua hàng</li>
          <li class="mb-2">Chính sách giảm giá</li>
          <li class="mb-2">Hỗ trợ trực tuyến</li>
          <li>Chăm sóc khách hàng</li>
        </ul>
      </div>

      <!-- Liên kết hữu ích -->
      <div class="col-md-2">
        <h5 class="text-uppercase mb-3">Liên kết hữu ích</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">Chính sách bảo mật</a></li>
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">Điều khoản & Điều kiện</a></li>
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">Liên hệ với chúng tôi</a></li>
          <li><a href="#" class="text-light text-decoration-none">Tin tức & Khuyến mãi</a></li>
        </ul>
      </div>
    </div>

        <!-- Phần mạng xã hội -->
    <div class="row mt-4">
      <div class="col text-center">
        <h5 class="text-uppercase mb-3">Theo dõi chúng tôi</h5>
        <div class="d-flex justify-content-center gap-3">
          <a href="https://facebook.com" class="text-light" target="_blank" title="Facebook">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a href="https://zalo.me" class="text-light" target="_blank" title="Zalo">
            <i class="fas fa-comment-dots fa-2x"></i>
          </a>
          <a href="https://instagram.com" class="text-light" target="_blank" title="Instagram">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a href="https://youtube.com" class="text-light" target="_blank" title="YouTube">
            <i class="fab fa-youtube fa-2x"></i>
          </a>
          <a href="https://twitter.com" class="text-light" target="_blank" title="Twitter">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Bản quyền -->
    <div class="text-center border-top pt-3 mt-3">
      <p class="mb-0">&copy; 2024 E-BookStore. Tất cả quyền được bảo lưu.</p>
    </div>
  </div>
</footer>
