{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-center text-success mt-1">GIỎ HÀNG</h1>

{% if 'cart' in session %}
<table class="table table-hover align-middle text-center">
    <thead class="table-white">
        <tr>
            <th>Id</th>
            <th>Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        {% for c in session['cart'].values() %}
        <tr id="cart{{ c.id }}">
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ "{:,.0f}".format(c.price) }} VNĐ</td>
            <td>
                <input type="number" onblur="updateCart({{ c.id }}, this)" min="1" max="100" value="{{ c.quantity }}" class="form-control text-center" />
            </td>
            <td>
                <button class="btn btn-danger btn-sm" onclick="deleteCart({{ c.id }})">&times;</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="container mt-4">
    <h4 class="mb-3">Chọn hình thức thanh toán</h4>
    <form action="/process_payment" method="post">
        <div class="payment-methods">
            <!-- Thanh toán tiền mặt -->
            <label class="payment-option d-flex align-items-center border p-2 mb-2 rounded">
                <input type="radio" name="payment_method" value="cash" class="me-2" required onchange="this.form.submit()" />
                <span>Thanh toán tiền mặt</span>
            </label>

            <!-- Thanh toán VNPay -->
            <label class="payment-option d-flex align-items-center border p-2 mb-2 rounded">
                <input type="radio" name="payment_method" value="vnpay" class="me-2" required onchange="this.form.submit()" />
                <span>Thanh toán qua VNPay</span>
            </label>
        </div>
    </form>

</div>


<div class="alert alert-info">
    <h3>Tổng sản phẩm: <span class="cart-counter">{{ cart_stats.total_quantity }}</span></h3>
    <h3>Tổng tiền: <span class="cart-amount">{{ "{:,.0f}".format(cart_stats.total_amount) }}</span> VNĐ</h3>
</div>


{% if current_user.is_authenticated %}
<div class="mb-3 text-end">
    <button class="btn btn-success" onclick="pay()">Thanh toán</button>
</div>
{% else %}
<p class="mt-1">Vui lòng <a href="/login?next=/cart">đăng nhập</a> để thanh toán</p>
{% endif %}

{% else %}
<div class="alert alert-info mt-1">KHÔNG có sản phẩm nào trong giỏ!</div>
{% endif %}

{% endblock %}